@{
    ViewBag.Title = "Index";
}

<div class="field">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
</div>

<div class="actions">
    <a href="#" class="score-trigger">Get scores</a>
</div>