@{
    ViewBag.Title = "Index";
}

<form action="users" method="post">
    <div class="field">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
    </div>

    <div class="actions">
        <button type="submit" class="score-trigger">Get scores</button>
    </div>
</form>